w{% import _self as formMacros %}

{% macro printQuestion(question) %}
    <tr>
        <td>
            {{ form_widget(question.sortOrder) }}
        </td>
        <td>
            {{ form_widget(question.question) }}
        </td>
    </tr>
{% endmacro %}

{{ form_start(form) }}
<div class="m-2">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_help(form.name) }}
    <div class="form-errors">
        {{ form_errors(form.name) }}
    </div>
</div>
<div class="m-2">
    {{ form_label(form.questions) }}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'category.form.sort_order'|trans }}</th>
            <th>{{ 'category.form.question'|trans }}</th>
            <th> </th>
        </tr>
        </thead>

        <tbody class="questions" data-prototype="{{ formMacros.printQuestion(form.questions.vars.prototype)|e('html_attr') }}">
        {% for question in form.questions %}
            {{ formMacros.printQuestion(question) }}
        {% endfor %}
        </tbody>
    </table>
    {{ form_widget(form.questions) }}
    {{ form_help(form.questions) }}
    <div class="form-errors">
        {{ form_errors(form.questions) }}
    </div>
</div>
<div class="mt-4">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
