
{% set alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %}
{% set categoryCounter = 0 %}

{% for theme in field.value %}
  {% for themeCategory in theme.themeCategories|sort_order %}
    {% set category = themeCategory.category %}
    {% set categoryCounter = categoryCounter + 1 %}
    {% set section_id = category.name|slug|lower %}
    <h2 id="{{ section_id }}"><a href="#{{ section_id }}">{{ category.name }}</a></h2>
    <table class="smiley-table table table-hover">
      <thead>
      <tr>
        <th>{{ 'answers_show.id'|trans }}</th>
        <th>{{ 'answers_show.question'|trans }}</th>
        <th>{{ 'answers_show.smiley'|trans }}</th>
        <th>{{ 'answers_show.actions'|trans }}</th>
      </tr>
      </thead>
      {% set questionCounter = 0 %}
      {% for index, question in category.questions|sort_order %}
        {% set questionCounter = questionCounter + 1 %}
        {% set question_id = section_id ~ '-' ~ questionCounter %}
        <tr id="{{ question_id }}">
          <td>{{ alphabet[(categoryCounter - 1) % alphabet|length] }}{{ questionCounter }}</td>
          <td>{{ question.question }}</td>

          {# Get a list of answers within the system #}
          {% set answers = question.answers|filter(a => a in entity.instance.answers) %}

          {% set referer = app.request.pathinfo ~ '#' ~ question_id %}
          {# @todo The layout will break if we have more that one answer #}
          {% for answer in answers %}
            <td>
              {{ include('easy_admin_overrides/field_smiley.html.twig', {value: answer.smiley, title: answer.note, width: 25}) }}
            </td>

            <td>
              <a href="{{ ea_url({
                            referer,
                         })
                         .setController('App\\Controller\\Admin\\AnswerCrudController')
                         .setAction('edit')
                         .setEntityId(answer.id)
                       }}">
                <i class="fa fa-edit edit-icon"></i> {{ 'answers_show.edit'|trans }}
              </a>
            </td>
          {% else %}
            <td></td>
            <td>
              <a href="{{ ea_url({
                            report: 'App\\Entity\\Report' == get_class(entity.instance) ? entity.instance.id : null,
                            system: 'App\\Entity\\System' == get_class(entity.instance) ? entity.instance.id : null,
                            question: question.id,
                            referer,
                         })
                         .setController('App\\Controller\\Admin\\AnswerCrudController')
                         .setAction('new')
                         .setEntityId(null)
                       }}">
                {# <i class="fa fa-add new-icon"></i> {{ 'Opret Ny'|trans }} #}
                <i class="fa fa-edit edit-icon"></i> {{ 'answers_show.edit'|trans }}
              </a>
            </td>
          {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% endfor %}
{% endfor %}
