

{% set itemClass = getclass(entity.instance) | split('\\') | last %}
{% set alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'] %}
{% set numberOfCategories = 0 %}

{% for theme in entity.instance.getAnswerArea %}
  {% for themeCategory in theme.themeCategories|sort_order %}
    {% set category = themeCategory.category %}
    {% set numberOfCategories = numberOfCategories + 1 %}
    <h2>{{ category.name }}</h2>
    <table class="smiley-table table table-hover">
      <thead>
      <tr>
        <th>{{ 'answers_show.id' | trans }}</th>
        <th>{{ 'answers_show.question' | trans }}</th>
        <th>{{ 'answers_show.smiley' | trans }}</th>
        <th>{{ 'answers_show.actions' | trans }}</th>
      </tr>
      </thead>
      {% set numberOfQuestions = 0 %}
      {% for question in category.questions|sort_order %}
        {% set numberOfQuestions = numberOfQuestions + 1 %}
        <tr>
          <td>{{ alphabet[numberOfCategories - 1] }}{{ numberOfQuestions }}</td>
          <td>
            <a class="" href="{{ ea_url()
              .setController('App\\Controller\\Admin\\AnswerCrudController')
              .setAction('detail')
            }}">
              {{ question.question }}
            </a>
          </td>
          {% set numberOfAnswers = 0 %}

          {% for answer in question.answers %}
            {% if answer in entity.instance.answers %}
              <td>
                {% include 'easy_admin_overrides/field_smiley.html.twig' with { 'value': answer.smiley, 'title': answer.note, 'width': 25 } %}
              </td>
            {% endif %}
            {% if answer in entity.instance.answers %}

              {% set numberOfAnswers = numberOfAnswers + 1 %}
              <td>
{#                <a href="{{ easyadmin_path('Answer', 'edit', { id: answer.id }) }}">#}


                  <a class="" href="{{ ea_url()
                    .setController('App\\Controller\\Admin\\AnswerCrudController')
                    .setAction('edit')
                    .setEntityId(answer.id)
                  }}">

                  <i class="fa fa-edit edit-icon"></i> {{ 'answers_show.edit' | trans }}
                </a>
              </td>
            {% endif %}
          {% endfor %}
          {% if numberOfAnswers == 0 %}
            <td></td>
            <td>
              <a href="answer/new?question={{ question.id }}&{{ itemClass | lower }}={{ entity.instance.id }}&referer={{ app.request.uri|url_encode }}">
                <i class="fa fa-edit edit-icon"></i> {{ 'answers_show.edit' | trans }}
              </a>
            </td>
          {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <br><br>
  {% endfor %}
{% endfor %}
