{% extends 'easy_admin_overrides/list.html.twig' %}

{% block content_title_wrapper %}
  <h1 class="title">
    {{ 'dashboard.title_prefix' | trans }}{{ block('content_title') }}
  </h1>
{% endblock %}

{% block global_actions %}
  {% if easyadmin_action_is_enabled_for_list_view('search', _entity_config.name) %}
    {% set _action = easyadmin_get_action_for_list_view('search', _entity_config.name) %}

    {% block search_action %}
      <div class="form-action {{ _action.css_class|default('') }}">
        <form method="get" action="{{ path('easyadmin') }}">
          {% block search_form %}
            <input type="hidden" name="action"
                   value="{{ _request_parameters.action ? _request_parameters.action : 'search' }}">
            <input type="hidden" name="entity"
                   value="{{ _request_parameters.entity }}">
            <input type="hidden" name="sortField"
                   value="{{ _entity_config.search.sort.field|default(_request_parameters.sortField) }}">
            <input type="hidden" name="sortDirection"
                   value="{{ _entity_config.search.sort.direction|default(_request_parameters.sortDirection) }}">
            <input type="hidden" name="menuIndex"
                   value="{{ _request_parameters.menuIndex }}">
            <input type="hidden" name="submenuIndex"
                   value="{{ _request_parameters.submenuIndex }}">
            <div class="input-group">
              <input class="form-control" type="search" name="query"
                     value="{{ app.request.get('query')|default('') }}">
              <span class="input-group-btn">
                  <button class="btn" type="submit"
                          formtarget="{{ _action.target }}">
                      <i class="fa fa-search"></i>
                      <span
                          class="hidden-xs hidden-sm">{{ _action.label|default('action.search')|trans(_trans_parameters) }}</span>
                  </button>
              </span>
            </div>
          {% endblock %}
        </form>
      </div>
    {% endblock search_action %}
  {% endif %}

  {% if easyadmin_action_is_enabled_for_list_view('new', _entity_config.name) %}
    {% set _action = easyadmin_get_action_for_list_view('new', _entity_config.name) %}
    {% block new_action %}
      <div class="button-action">
        <a class="{{ _action.css_class|default('') }}"
           href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}"
           target="{{ _action.target }}">
          {% if _action.icon %}<i
            class="fa fa-{{ _action.icon }}"></i>{% endif %}
          {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
        </a>
      </div>
    {% endblock new_action %}
  {% endif %}
{% endblock global_actions %}

{% block main %}
  {% set _list_item_actions = easyadmin_get_actions_for_list_item(_entity_config.name) %}

<div class="table-responsive dashboard--table table-sm">
  {% set results = paginator.currentPageResults() %}

  <table class="table table-bordered">
    <thead class="">
    <th></th>
    {% for item in results %}
      <th class="rotate">
        <div><span><a
                href="{{ path('easyadmin', _request_parameters|merge({ action: 'show', id: item.id })) }}"
                title="{{ item.name }}">{{ item.name }}</a></span></div>
      </th>
    {% endfor %}
    <th colspan="4"></th>
    </thead>
    <tbody>
    {% for category in categories %}
      <tr>
        <td><h3><strong>{{ category.name }}</strong></h3></td>
        {% for result in results %}
          <td></td>
        {% endfor %}
        <td colspan="4"></td>
      </tr>
      {% for question in category.questions %}
        <tr>
          <td>{{ question.question }}</td>
          {% for result in results %}
            <td class="dashboard--table-answer">
              {% set answer = getanswer(result, question) %}
              {% if answer is not null %}
                {% include 'easy_admin_overrides/field_smiley.html.twig' with { 'value': answer.smiley, 'title': answer.note, 'width': 25 } %}
              {% endif %}
            </td>
          {% endfor %}
          <td colspan="4"></td>
        </tr>
      {% endfor %}
      {% if not loop.last %}
      <tr>
        <td class="dashboard--table-spacing"
            colspan="{{ (results|length) + 5 }}"></td>
      </tr>
      {% endif %}
    {% endfor %}

    {% if categories|length == 0 %}
      <tr>
        <td colspan="{{ (results|length) + 5 }}">{{ 'dashboard.no_categories_for_result' | trans }}</td>
      </tr>
    {% endif %}
    </tbody>
  </table>

  {% if results|length == 0 %}
    <tr>
      <td class="no-results"
          colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
        {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
      </td>
    </tr>
  {% endif %}
</div>

  {% block paginator %}
    {{ include(_entity_config.templates.paginator) }}
  {% endblock paginator %}

  {% block delete_form %}
  {% endblock delete_form %}

{% endblock main %}

