{% extends '@EasyAdmin/default/list.html.twig' %}

{% set requestFilters = app.request.get('filters', {}) %}
{% set _request_parameters = _request_parameters|default({})|merge({
  filters: requestFilters
}) %}

{# The change to this block is that a table row is clickable with a link to the show action of the given entity #}
{% block table_body %}
  {% for item in paginator.currentPageResults %}
    {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
    {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
    <tr data-id="{{ _item_id }}"
        onclick="window.location.href = '{{ path('easyadmin', _request_parameters|merge({ action: 'show', id: _item_id })) }}'">
      {% for field, metadata in fields %}
        {% set isSortingField = metadata.property == app.request.get('sortField') %}
        {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters) %}

        <td data-label="{{ _column_label }}"
            class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}">
          {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
        </td>
      {% endfor %}

      {% if _list_item_actions|length > 0 %}
        {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}
        <td data-label="{{ _column_label }}" class="actions">
          {% block item_actions %}
            {# Do not display list action items if not granted #}
            {% set _list_item_actions = _list_item_actions|prune_item_actions(_entity_config) %}
            {{ parent() }}
          {% endblock item_actions %}
        </td>
      {% endif %}
    </tr>
  {% else %}
    <tr>
      <td class="no-results"
          colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
        {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
      </td>
    </tr>
  {% endfor %}
{% endblock table_body %}

{# Change layout to include filters #}
{% block content_header %}
  <div class="row">
    <div class="col-sm-1">
      {% block content_title_wrapper %}
        <i class="fa fa-{{ icon }} header-icon"></i>
      {% endblock %}
    </div>
    <div class="col-sm-5">
      {% block content_header_filters %}
        {% if filters is defined and filters is not null %}
          {{ form_start(filters, {'attr': {'id': 'filters', 'class': 'form-action custom-filters'}}) }}
          {{ form_widget(filters._token) }}
          <div class="row">
            {% set col = (10 / (filters|length - 1))|round(0, 'floor') %}
          {% for key, filter in filters.children %}
            {% if key != '_token' and key != 'submit' %}
              <div class="col-sm-{{ col }} no-padding">
                {{ form_widget(filter) }}
              </div>
            {% endif %}
          {% endfor %}
            <div class="col-sm-{{ 12 - col * (filters|length - 1) }} no-padding">
              <button class="btn custom-filters--submit-button" type="submit">
                  <i class="fa fa-filter"></i>
              </button>
            </div>
          </div>
          {{ form_end(filters) }}
        {% endif %}
      {% endblock %}
    </div>
    <div class="col-sm-6">
      <div class="global-actions">
        {% block global_actions %}
          {{ parent() }}
        {% endblock global_actions %}
      </div>
    </div>
  </div>
{% endblock content_header %}

{# Do not display SEARCH form if not granted #}
{% block search_action %}
  {% if is_easyadmin_granted(_entity_config, 'search') %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{# Do not display NEW button if not granted #}
{% block new_action %}
  {% if is_easyadmin_granted(_entity_config, 'new') %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{# Adds request filters to the search form #}
{% block search_form %}
  {% for field, value in requestFilters %}
    {% if value is iterable %}
      {% for val in value %}
        <input type="hidden" name="filters[{{ field }}][]" value="{{ val }}">
      {% endfor %}
    {% else %}
      <input type="hidden" name="filters[{{ field }}]" value="{{ value }}">
    {% endif %}
  {% endfor %}

  {{ parent() }}
{% endblock %}

{% block body_javascript %}
  {{ parent() }}

  <script type="text/javascript">
      // Does not work with old IE.
      document.addEventListener('DOMContentLoaded', function () {
          var elements = document.getElementsByClassName('custom-filter-select');

          for (var i = 0; i < elements.length; i++) {
              elements[i].addEventListener('input', function () {
                  document.getElementById('filters').submit();
              });
          }
      }, false);
  </script>
{% endblock %}
