{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}
<div class="dashboard--table">
  <div class="form-group">
    {{ form_start(filters) }}
    <div class="row">
      <div class="col-lg-2">
        {{ form_label(filters.group) }}
        {{ form_widget(filters.group) }}
      </div>
      <div class="col-lg-2">
        {{ form_label(filters.subowner) }}
        {{ form_widget(filters.subowner) }}
      </div>
      <div class="col-lg-2">
        {{ form_label(filters.theme) }}
        {{ form_widget(filters.theme) }}
      </div>
      <div class="col-lg-2">
        {{ form_label(filters.category) }}
        {{ form_widget(filters.category) }}
      </div>
      <div class="col-lg-4">
        {{ form_label(filters.search) }}
        {{ form_widget(filters.search) }}
      </div>
      <div class="col-lg-2">
        {{ form_widget(filters.submit) }}
        {{ form_rest(filters) }}
      </div>
    </div>
    {{ form_end(filters) }}
  </div>

  <table class="table table-bordered table-responsive table-striped table-sm">
    <thead class="">
    <th></th>
    {% for item in paginator %}
      <th class="rotate">
        <div>
          <span>
            <a href="{{ path('easyadmin', { action: 'show', id: item.id }) }}" title="{{ item.showableName }}">
              {{ breakintolines(item.showableName, 40, 2) | raw }}
            </a>
          </span>
        </div>
      </th>
    {% endfor %}
      <th> </th>
    </thead>
    <tbody>
    {% for category in categories %}
      <tr>
        <td><h3><strong>{{ category.name }}</strong></h3></td>
        {% for result in paginator %}
        <td> </td>
        {% endfor %}
        <td> </td>
      </tr>
      {% for question in (category.questions)|sort_order %}
        <tr>
          <td>{{ question.question }}</td>
          {% for result in paginator %}
            <td class="dashboard--table-answer">
              {% set answer = getanswer(result, question) %}
              {% if answer is not null %}
                {% include 'easy_admin_overrides/field_smiley.html.twig' with { 'value': answer.smiley, 'title': answer.note, 'width': 30 } %}
              {% endif %}
            </td>
          {% endfor %}
          <td> </td>
        </tr>
      {% endfor %}
      {% if not loop.last %}
      <tr>
        <td class="dashboard--table-spacing" colspan="{{ (paginator|length) + 2 }}">&nbsp;</td>
      </tr>
      {% endif %}
    {% endfor %}

    {% if categories|length == 0 %}
      <tr>
        <td colspan="{{ (paginator|length) + 2 }}">{{ 'dashboard.no_categories_for_result' | trans }}</td>
      </tr>
    {% endif %}
    </tbody>
  </table>

  <div class="navigation">
    {{ knp_pagination_render(paginator) }}
  </div>
</div>
{% endblock main %}
