{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title %}
  {{ ('dashboard.'~entityType)|trans }}
{% endblock %}

{% block content_title %}
  {{ ('dashboard.'~entityType)|trans }}
{% endblock %}

{% block global_actions_wrapper %}
  <div class="global-actions w-75 dashboard-filters" style="justify-content: flex-end">
    {{ form_start(filters, { attr: { class: 'w-100' } }) }}
    <div class="row w-100 flex-row no-gutters align-items-center">
      <div class="col">
        {{ form_widget(filters.groups) }}
      </div>
      <div class="col">
        {{ form_widget(filters.subowner) }}
      </div>
      <div class="col">
        {{ form_widget(filters.theme) }}
      </div>
      <div class="col">
        {{ form_widget(filters.category) }}
      </div>
      <div class="w-100"></div>
      {% if filters.self_service is defined %}
        <div class="col">
          {{ form_widget(filters.self_service) }}
        </div>
      {% endif %}
      <div class="col">
        {{ form_widget(filters.search) }}
      </div>
      <div class="col-1">
        {{ form_widget(filters.save, { attr: { class: 'btn btn-primary' }}) }}
      </div>
    </div>
    {{ form_end(filters) }}
  </div>
{% endblock %}

{% block main %}
  <div class="dashboard--table">
    <table class="table table-bordered table-striped table-sm">
      <thead class="">
      <th></th>
      {% for item in paginator %}
        <th class="rotate">
          <div>
          <span>
            <a href="{{ path('easyadmin', { action: 'show', id: item.id, entity: entityType|capitalize }) }}" title="{{ item.showableName }}">
              {{ item.showableName }}
            </a>
          </span>
          </div>
        </th>
      {% endfor %}
      <th class="table-right-column rotate"><div><span></span></div></th>
      </thead>
      <tbody>
      {% if categories|length > 0 %}
        {% for category in categories %}
          <tr>
            <td><h3><strong>{{ category.name }}</strong></h3></td>
            {% for result in paginator %}
              <td></td>
            {% endfor %}
            <td class="table-right-column rotate"><div><span></span></div></td>
          </tr>
          {% for question in (category.questions)|sort_order %}
            <tr>
              <td>{{ question.question }}</td>
              {% for result in paginator %}
                <td class="dashboard--table-answer">
                  <div class="dashboard--table-cell">
                    {% set answer = getanswer(result, question) %}
                    {% if answer is not null %}
                      {% include 'easy_admin_overrides/field_smiley.html.twig' with { 'value': answer.smiley, 'title': answer.note, 'width': 30 } %}
                    {% endif %}
                  </div>
                </td>
              {% endfor %}
              <td class="table-right-column"></td>
            </tr>
          {% endfor %}
          {% if not loop.last %}
            <tr>
              <td class="dashboard--table-spacing" colspan="{{ (paginator|length) + 2 }}">&nbsp;</td>
            </tr>
          {% endif %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="{{paginator|length + 2}}">
            <div>{{ 'dashboard.no_categories_for_result' | trans }}</div>
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>

    <div class="pagination mt-5">
      {{ knp_pagination_render(paginator) }}
    </div>
  </div>
{% endblock main %}

{% block body_javascript %}
  {{ parent() }}

  <script type="text/javascript">
    $('.dashboard-filters select').bind('change', function () {
      $('.dashboard-filters form').submit();
    });

    $(document).ready(function() {
      $('#form_groups').select2();
    });

    $('#form_groups').on('select2:opening select2:closing', function( event ) {
      var $searchfield = $(this).parent().find('.select2-search__field');
      $searchfield.prop('disabled', true);
    });
  </script>
{% endblock %}
