{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% block page_title %}
  {{ ('list.' ~ entityType)|trans }}
{% endblock %}

{% block global_actions_wrapper %}
  <div class="global-actions w-75 list-filters" style="justify-content: flex-end">
    {{ form_start(filters, {attr: {class: 'w-100'}}) }}
    <div class="row w-100 flex-row no-gutters align-items-center">
      <div class="col-3">
        {{ form_widget(filters.groups) }}
      </div>
      <div class="col">
        {{ form_widget(filters.subowner) }}
      </div>
      <div class="col">
        {{ form_widget(filters.search) }}
      </div>
      {% if filters.self_service is defined %}
      <div class="col">
        {{ form_widget(filters.self_service) }}
      </div>
      {% endif %}
      <div class="col-1">
        {{ form_widget(filters.save, {attr: {class: 'btn btn-primary'}}) }}
      </div>
    </div>
    {{ form_end(filters) }}
  </div>
{% endblock %}

{% block content_title %}
  {{ ('list.' ~ entityType)|trans }}
{% endblock %}

{% block main %}
  <div class="dashboard--table">
    <table class="table table-striped table-sm table-hover" style="background-color: white;">
      {% if items|length > 0 %}
      <thead>
      {% for key, field in (items|first).fields %}
        <th style="padding: 1em;">{{ key|trans }}</th>
      {% endfor %}
      <th></th>
      </thead>
      <tbody>
      {% for itemId, item in items %}
        <tr>
          {% for key, field in item.fields %}
            <td style="padding: 1em;">{{ field|raw }}</td>
          {% endfor %}
          <td class="text-right">
            {% if item.permission.show %}
              <a class="btn btn-sm btn-primary m-1" href="{{ path('easyadmin', {action: 'show', id: itemId, entity: entityType|capitalize}) }}">
                {{ 'actions.show'|trans }}
              </a>
            {% endif %}
            {% if item.permission.edit %}
              <a class="btn btn-sm btn-warning m-1" href="{{ path('easyadmin', {action: 'edit', id: itemId, entity: entityType|capitalize}) }}">
                {{ 'actions.edit'|trans }}
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      {% else %}
        <tr>
          <td colspan="{{ (paginator|length) + 2 }}">{{ 'list.no_result'|trans }}</td>
        </tr>
      {% endif %}
      </tbody>
    </table>

    <div class="pagination mt-5">
      {{ knp_pagination_render(paginator) }}
    </div>
  </div>
{% endblock main %}

{% block body_javascript %}
  <script type="text/javascript">
    {{ parent() }}

    $('.list-filters select').bind('change', function () {
      $('.list-filters form').submit();
    });

    $(document).ready(function() {
      $('#form_groups').select2();
    });

    $('#form_groups').on('select2:opening select2:closing', function( event ) {
      var $searchfield = $(this).parent().find('.select2-search__field');
      $searchfield.prop('disabled', true);
    });
  </script>
{% endblock %}
